#js-showing {
  display: none;
}

.clickable1 {
  cursor: pointer;
  color: #0088cc;
}

.clickable1:hover {
  text-decoration: underline;
}

#operators-showing {
  display: none;
}

.clickable2 {
  cursor: pointer;
  color: #0088cc;
}

.clickable2:hover {
  text-decoration: underline;
}

#variables-showing {
  display: none;
}

.clickable3 {
  cursor: pointer;
  color: #0088cc;
}

.clickable3:hover {
  text-decoration: underline;